<style>
    .back{
        background: url(../www/img/login.png) no-repeat center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        text-align: center;
    }
    .item{
        background-color: transparent;
    }
    .myForm{
        margin: 30px;
        padding-top: 35px;
    }
</style>

<ion-content class="back">
    <div style="padding-top: 200px">
        <h2 style="color: white">TRY FREE TRIAL</h2>


        <!--login form-->
        <div style="padding-top: 50px">
            <form ng-submit="signUpMethod(signUp)" class="myForm">

                <div class="list">
                    <label class="item item-input">
                        <span class="input-label">First Name</span>
                        <input type="text" ng-model="signUp.first_name">
                    </label>

                    <label class="item item-input">
                        <span class="input-label">Last Name</span>
                        <input type="text" ng-model="signUp.last_name">
                    </label>

                    <label class="item item-input">
                        <span class="input-label">Email</span>
                        <input type="email" ng-model="signUp.email">
                    </label>

                    <label class="item item-input">
                        <span class="input-label">Phone Number</span>
                        <input type="number" ng-model="signUp.phone_number">
                    </label>

                <label class="item item-input">
                        <button type="submit" class="button button-positive button-block">Try Free Trial</button>
                    </label>
                </div>
            </form>
        </div>
    </div>


</ion-content>